*{
margin:0;
padding:0;
box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
  padding-top:34px;
  padding-bottom: 24px;
background: #fff;
}


nav{
  /* width:74%;
  max-width: 1140px; */
display: flex;
justify-content: space-around;
  margin:0 auto;
  align-items: center;
  margin-bottom: 14px;

}
.menu{
  display: flex;
  list-style: none;
  gap:99px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color:#474747;
  text-decoration: none;
  font-weight: 500;
}
.btn {
  padding:13px 16px;
  background-color: #469165;
border-radius: 4px;
font-size: 16px;
font-weight:600;
color:#fff;
border:none;
margin-right:16px;
}
 .btn:hover{
     padding:13px 16px;
  background-color:transparent;
border-radius: 4px;
font-size: 16px;
font-weight:600;
color:#469165;
border:2px solid #fff;

 }

#hero{
  text-align: center;
  background-image: url(../images/hero-bg.png);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
 width:100%;
 height: 661px;

opacity: 1;

}
 .hero-content,.testimonial-container{
  max-width:770px;
  margin:0 auto;
  padding-top:130px;
}

.hero-content .btn-top{
  padding:10px 12px;
gap:6px;
background-color: #fff;
color:#469165;
font-size:16px;
font-weight: 500;
border-radius: 20px;
border:none;
margin-bottom:16px;
display: inline-flex;
}
 .hero-content .btn-top:hover{
      padding:10px 12px;
border-radius: 20px;
color:#fff;
  background-color:transparent;

font-size: 16px;
font-weight:500;

border:2px solid #469165 ;

 }
#hero .hero-content h1{
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 16px;
}
.hero-content h1 .color-text{
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color:#469165; 
  
}
 .hero-content p{
color:#fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
 }
 #notes{
  padding-top:130px;
 }
 #notes .notes-container{
   width:100%;
      margin:0 auto;
      text-align: center;
      padding: 40px ;
 }
 .notes-container h2{
  color:#001931;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
 }
  .notes-container p{
    color:#627382;
   font-Weight:400;
   font-size:16px;
  line-height:20px;
margin-bottom:44px;
  }
  #notes .notes-container .notes-info{
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
    .notes-container .notes-info .notes-card {
      width:322px;
      padding:70px 24px;
      border-radius: 8px;
      gap:30px;
      box-shadow: 0 0 8px 0 #00000063 ;
    }
     .notes-container .notes-info .notes-card img{
      background-color:#F95555;
      border-radius: 50%;
      padding: 14px;
      margin-bottom: 16px;
     }
     .notes-info .notes-card h3{
       font-Weight:700;
   font-size:24px;
   color:#001931;
    margin-bottom:16px ;
     }
     .notes-info .notes-card p{
   font-size:16px;
   line-height: 20px;
   color:#627382;
     }

       #second-brain .second-container{
    display: flex;
    justify-content: space-around;
    /* margin: 47px 38px 0 230px; */
    align-items: center;
    padding-top:120px;
   margin:0 auto;

  }
   #second-brain .second-content {
max-width:700px;
height:396px;
/* background-color: #F95555; */
   }
   #second-brain .second-content h5{
    font-size:16px;
    font-weight: 600;
    line-height: 20px;
    color:#30b868;
    margin-bottom: 16px;
   }
    #second-brain .second-content h2{
  font-size:48px;
    font-weight: 900;
    
    color:#001931;
    margin-bottom: 16px;
    }
    #second-brain .second-content h6{
      font-size: 16px;
      line-height: 20px;
      color:#627382;
      margin-bottom: 40px;
      width:700px;
    }
    .check-text {
  display: flex;
  align-items: center;
  gap: 8px;
 line-height: 20px;
  font-size: 16px;
  color: #001931;
  margin-bottom: 16px;
  font-weight: 700;
}

.check-text::before {
  content: "✓";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: #22c55e; /* green */
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
#testimonial{
  padding-top: 120px;
  padding-bottom: 120px;
}
#testimonial .testimonial-container{
  background-color:#F7F6F2 ;
  max-width:1360px;
  text-align: center;
  padding:120px 0;
}
 .testimonial-container .testimonial-content h4{
 font-size: 40px;
 font-weight: 900;
 color:#001931;
 margin-bottom:16px;
 }
  .testimonial-container .testimonial-content p{
 font-size: 16px;
 margin-bottom:24px;
font-weight: 400;
 color:#627382;
 line-height: 24px;
 }
 .testimonial-container .testimonial-content h5{
 font-size: 16px;
 margin-top:16px;
 font-weight: 400;
 color:#627382;
 line-height: 20px;
 }
 #footer{
 width:100%;
 
  padding-top:100px;
  background-color: #001931;
  /* padding-bottom: 120px; */
 }
  #footer  .footer-content{
   display:flex ;
   justify-content: space-between;
   /* justify-content: center;
   align-items:center; */
  margin:0 120px;
  }
  .footer-container .footer-content .foot-img{
    margin-top: 22px;
  }
  .footer-container .footer-content .social p{
    font-size:20px;
    /* line-height:28px; */
    color:#fff
    margin-bottom:16px;
    
  }
  .footer-container .footer-content .social {
    /* display: flex; */
    gap:16px;
  }
   .footer-container .footer-content .social a {
 width: 20px;
 display:inline;
  height: 20px;
  background: white;
  border-radius: 50%;
 margin-right: 16px;
  color: #000; 
  font-size: 18px;
   text-decoration: none; 
   transition: transform 0.3s ease, background 0.3s ease;
padding:10px;

   }
   
   .footer-content .social a:hover{
 transform: translateY(-4px);
  background: transparent;
  
   }

    .footer-container hr{
      margin-top:80px;
      color:#627382;
    }
    .footer-container p{
      /* margin:30px auto; */
      text-align: center;
    padding: 30px;
    color: #fafafa;
    line-height: 24px;
font-size: 16px;
font-weight: 400;
    }
    
   

