*{
margin:0;
padding:0;
box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
  padding-top:34px;
  padding-bottom: 24px;
background: #fff;
}
nav{
  width:74%;
  max-width: 1140px;
display: flex;
justify-content: space-between;
  margin:0 auto;
  align-items: center;
  margin-bottom: 14px;

}
.menu{
  display: flex;
  list-style: none;
  gap:99px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color:#474747;
  text-decoration: none;
  font-weight: 500;
}
.btn{
  padding:13px 16px;
  background-color: #469165;
border-radius: 4px;
font-size: 16px;
font-weight:600;
color:#fff;
border:none;
margin-right:16px;
}
 .btn:hover{
     padding:13px 16px;
  background-color:transparent;
border-radius: 4px;
font-size: 16px;
font-weight:600;
color:#469165;
border:2px solid #fff;

 }

#hero{
  text-align: center;
  background-image: url(../images/hero-bg.png);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
 width:100%;
 height: 661px;

opacity: 1;

}
 .hero-content{
  max-width:770px;
  margin:0 auto;
  padding-top:130px;
}

.hero-content .btn-top{
  padding:10px 12px;
gap:6px;
background-color: #fff;
color:#469165;
font-size:16px;
font-weight: 500;
border-radius: 20px;
border:none;
margin-bottom:16px;

}
 .hero-content .btn-top:hover{
      padding:10px 12px;
border-radius: 20px;
color:#fff;
  background-color:transparent;

font-size: 16px;
font-weight:500;

border:2px solid #469165 ;

 }
#hero .hero-content h1{
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 16px;
}
.hero-content h1 .color-text{
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color:#469165; 
  
}
 .hero-content p{
color:#fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
 }
 #notes{
  padding-top:130px;
 }
 #notes .notes-container{
   width:100%;
      margin:0 auto;
      text-align: center;
      padding: 40px ;
 }
 .notes-container h2{
  color:#001931;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
 }
  .notes-container p{
    color:#627382;
   font-Weight:400;
   font-size:16px;
  line-height:20px;
margin-bottom:44px;
  }
  #notes .notes-container .notes-info{
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
    .notes-container .notes-info .notes-card {
      width:322px;
      padding:70px 24px;
      border-radius: 8px;
      box-shadow: 0 0 8px 0 #00000063 ;
    }
     .notes-container .notes-info .notes-card img{
      background-color:#F95555;
      border-radius: 50%;
      padding: 14px;
      margin-bottom: 16px;
     }
     .notes-info .notes-card h3{
       font-Weight:700;
   font-size:24px;
   color:#001931;
    margin-bottom:16px ;
     }
     .notes-info .notes-card p{
   font-size:16px;
   line-height: 20px;
   color:#627382;
     }
